<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    </head>
        <body>
            <h1>Информация о товаре</h1>

            <div style="padding: 20px; border: solid medium black; font-size: 20pt">
                @RenderBody()
            </div>
            <h2>Посетите сайт <a href="https://www.youtube.com/watch?v=LaQYuOfEqy0&t=29s">ProfessorWeb</a></h2>
        </body>
</html>